html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

.user-message {
    background-color: #e8f6e1;
    color: black;
    padding: 12px 16px;
    border-radius: 12px;
    max-width: 75%;
    word-break: break-word;
    white-space: pre-wrap;
}

.system-message {
    background-color: #fff;
    color: #000;
    padding: 12px 20px;
    border-radius: 12px;
    max-width: 75%;
    word-break: break-word;
    white-space: pre-wrap;
}

/* Add styles for think-content */
.think-content {
    font-style: italic;
    background-color: #f0f8ff; /* Light blue background */
    padding: 8px;
    border-radius: 4px;
    margin: 4px 4px;
}

